nav {
    display: flex;
    justify-content: center;
}
li {
    transition: transform 2s;
}
li:hover {
    display: block;
    width: 10vw;
    transform: scale(2);
}
div {
    position: fixed;
    width: 10vmax;
    height: 10vmax;
    background-color: orange;
    border-radius: 50% 50%;
    left: 0vw;
}
@keyframes mover {
    from {left: 0vw;}
    to {left: calc(100vw - 10vmax);}
}
div {
    animation: mover 3s linear 1s infinite alternate running;
}